.mainContainer {
    display: flex;
    padding: 15px;
    scroll-behavior: smooth;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 4px;
}


.messagesContainer {
    margin: 20px 0;
    flex: 1;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: black 2px solid;
    border-radius: 0.2rem;
    height:fit-content;

}

.create-message {
    margin: 20px 0;
    align-items: flex-start;
    padding: 15px;
    overflow: hidden;
    background-color: cadetblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: gray 2px solid;
    border-radius: 0.2rem;
    height: fit-content;
}


.message-page-title{
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;

}

input[type="submit"]:hover {
    background-color: #2980b9;
}


.message-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.message-header {
    background-color: teal;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-header:hover{
    background: cadetblue;
}
.message-body {
    flex-grow: 1;
    overflow: auto;
    transition: max-height 0.3s ease-in-out;
    display: none;
    padding: 15px;
}

.my-nav {
    display: block;
    overflow: hidden;
    padding: 10px;
    background-color: #333;

}

.my-navbar-logo {
    float: left;
    height: 50px;
    margin-right: 20px;
}

.my-nav ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

}


.my-nav ul li {
    float: left;
}

.my-nav ul li a {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: block;

}

.my-nav ul li a:hover{
    text-decoration: underline;
}

.notification-icon{
    display: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
}
.notification-icon.visible{
    display: inline-block;
}

.logout{
    margin-left: auto;

}
.logout form{
    margin:0;
}
.logout input[type="submit"]{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 14px 20px;
    text-decoration-color: #c0392b;
    font-size: 16px;
}

.logout input[type="submit"]:hover {
    background-color: transparent;

}
.my-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.my-navbar-logo {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a, .logout input[type="submit"] {
    color: white;
    text-decoration: none;
}

.logout {
    margin-left: auto;
    list-style: none;
}

.logout form {
    margin: 0;
}

.logout input[type="submit"] {
    border: solid white thin;
    cursor: pointer;
    font-size: 16px;
    background-color: darkred;
}

.logout input[type="submit"]:hover {
    text-decoration: underline;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding:15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}